/* ================ 공통/글꼴 ================ */

.content_box {
	margin: auto 34px;
	padding: 80px 50px;
	text-align: center;
}

.main_title {
	color: #000;
	font-size: 35px;
	font-family: 'NanumSquareRound';
	font-weight: bolder;
}

.blogs .main_title {
	color: #fff;
	font-family: 'Carter One';
	font-weight: bolder;
}

.banner .banner_sub_title {
	color: #ffe818;
	font-family: 'NanumSquareRound';
	font-weight: bolder;
	font-size: 35px;
	text-shadow: 3px 3px 7px rgb(49, 49, 49);
}

.banner .banner_main_title {
	color: #ffe818;
	font-family: 'NanumSquare_bold';
	font-weight: bolder;
	text-shadow: 3px 3px 7px rgb(49, 49, 49);
	font-size: 110px;
}
/* ================ 헤더 ================ */

#main_header {
	position: fixed;
	margin: 0px;
	padding: 10px 20px;
	z-index: 1000;
	font-family: 'NanumSquareRound';
}

.top_header  .logo_text{
	color: white;
	font-family: 'Carter One';
	font-weight:bolder;
}

.top_header .gnb_item{
	color: white;
	font-family: 'NanumSquareRound';
}

.change_header {
	background-color: #fff;
	border-bottom: 1px solid #bfbfbf81;
}

.change_header .logo_text {
	color: black;
	font-family: 'Carter One';
	font-weight:bolder;
}

.change_header .gnb_item {
	color: black;
}

#main_header .gnb_box {
	display: inline-block;
}

#main_header .gnb_item {
	margin-right: 38px;
	font-size: 18px;
}

#introduce_gnb_item1 {
	margin-left: 38px;
}

/* ================ 배너 ================ */
.banner {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	height: 100%;
	color: #fff;
	z-index: 2;
	background-color: rgba(0, 0, 255, 0.724);
}

#banner_box {
	animation: changeBg 12s infinite;
	background-size: cover;
}

@keyframes changeBg{
	0%,100%  {background-image: url("assets/images/hanspoon/bg1.jpg");}
	33% {background-image: url("assets/images/hanspoon/bg2.jpg");}
	66% {background-image: url("assets/images/hanspoon/bg3.jpg");}
}

.banner .content_box {
	margin: auto 200px;
}

.banner .title_box {
	margin: 120px 150px;
	text-align: center;
	max-width: 100%;
}

.banner .sub_title_box {
	margin: 40px auto;
}

/* .banner .user_name {
	bottom: 20px;
	left: 50px;
	font-size: 13px;
	line-height: 20px;
} */

.grid-container {
	height: 100%;
	width: 100%;
}

.banner .btn_box {
	margin-top: 95px;
	text-align: center;
	font-size: 0;
	animation: .7s fadeVertical 2.4s forwards;
}

.banner .btn_join {
	margin-left:10px;
	margin-bottom: 20px;
	padding: 0 52px;
	height: 64px;
	border-radius: 20px;
	font-size: 22px;
	font-weight: 800;
	color: #000;
	background-color: #ffe818;
	border: 3px solid #333333;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}


/* ================ 소개 ================ */
.introduce {
	background-color: #fff;
	width: 100%;
	min-height: 400px;
}

.introduce .info_text {
	margin-top: 30px;
	font-size: 20px;
    line-height: 34px;
}

.introduce .info_link {
	margin-top: 28px;
	font-size: 20px;
    line-height: 34px;
}



/* ================ 모임 생성 방법 ================ */
.create_step {
	background-color: #ffe818;
	width: 100%;
	min-height: 1100px;
}

.create_step .title_box {
	margin-bottom: 30px;
}


.create_step .step_box {
	margin: 20px 20px;
    padding: 46px 30px 50px;
    background-color: #fff;
    border: 4px solid #333333;
	border-radius: 20px;
	min-height: 350px;
}

.create_step .section {
	position: relative;
}

.create_step .step_title {
	display: block;
	margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    line-height: 36px;
    color: #ff5c00;
}

/* ================ 모임 참여 방법 ================ */

.apply_step {
	background-color: #23daaf;
	width: 100%;
	min-height: 650px;
}

.apply_step .title_box {
	margin-bottom: 30px;
}

.apply_step .step_box {
	margin: 20px 20px;
    padding: 46px 30px 50px;
    background-color: #fff;
    border: 4px solid #333333;
	border-radius: 20px;
	min-height: 500px;
}

.apply_step .step_title {
	display: block;
	margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    line-height: 36px;
    color: #ff5c00;
}

/* 임시 */
.apply_step .step_01 {
	margin-bottom: 45px;
}

.apply_step .step_02 {
	margin-bottom: 45px;
}

/* ================ 게시글 ================ */
.blogs {
	background-color: #a143e8;
	width: 100%;
	min-height: 1140px;
}

.blogs .title_box {
	margin-bottom: 30px;
}

.blogs .title_box {
	margin-bottom: 30px;
}

.blogs .step_box {
	margin: 20px 20px;
    background-color: #fff;
    border: 4px solid #333333;
	border-radius: 20px;
	min-height: 900px;

}

.blogs .blog_list_box {
	padding: 35px;
}

.blogs .btn_more {
	margin-left:10px;
	margin-bottom: 20px;
	padding: 0 52px;
	height: 64px;
	border-radius: 20px;
	font-size: 22px;
	font-weight: 800;
	color: #000;
	background-color: #ffe818;
	border: 3px solid #333333;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.hoverBlog.active {
	transform: scale(1.05);
	transition:transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
	/* transform: perspective(999px) rotateX(7deg) translate3d(0px, -4px, 5px) */
  }

  #blog {
	border-radius: 20px;
	border: 4px solid #333333;
	border-width: 2px;
	/* min-height: 480px; */
  }

/* ================ Component ================ */

.blog_toggle {
	padding-top: 20px;
	padding-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.selectTab.active {
	background-color: #ffe818;
	color: #fff;
	border-radius: 10;
  }

/* ================ 인기순위(x) ================ */
.rank {
	background-color: #a143e8;
	width: 100%;
	min-height: 650px;
}

.rank .title_box {
	margin-bottom: 30px;
}

/* ================ 고정 버튼 ================ */

.static_button {
	position: fixed;
	bottom: 10px;
	right: 20px;
}

.static_button_box {
	margin-bottom: 20px;
	height: 50px;
}

.static_button .static_button_create {
	position: absolute;
	bottom: 20px;
	right: 50px;
	margin-right:3px;
	height: 50px;
	width: 120px;
	line-height: 1;
	border-radius: 27px;
	font-size: 17px;
	font-weight: 800;
	color: #000;
	background-color: #ffe818;
	border: 3px solid #333333;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.static_button .static_button_up {
	border-radius: 25px;
    height: 50px;
    width: 50px;
	background-image: url('assets/images/Icons/upload.png');
	background-size: cover;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

