/* ================ 공통/글꼴 ================ */

.content_box {
	margin: auto 34px;
	padding: 80px 50px;
	text-align: center;
}

.main_title {
	color: #000;
	font-size: 43px;
	font-family: 'NanumSquareRound';
	font-weight: bolder;
}

.blogs .main_title {
	color: #fff;
	font-family: 'NanumSquareRound';
	font-weight: bolder;
}

.banner .banner_sub_title {
	color: #ffe818;
	font-family: 'NanumSquareRound';
	font-weight: bolder;
	font-size: 45px;
	text-shadow: 3px 3px 7px rgb(49, 49, 49);
}

.banner .banner_main_title {
	color: #ffe818;
	font-family: 'Carter One';
	font-weight: bolder;
	text-shadow: 3px 3px 7px rgb(49, 49, 49);
	font-size: 115px;
}
/* ================ 헤더 ================ */

#main_header {
	position: fixed;
	margin: 0px;
	padding: 10px 20px;
	z-index: 1000;
	font-family: 'NanumSquareRound';
}

.top_header  .logo_text{
	color: white;
	font-family: 'Carter One';
	font-weight:bolder;
}

.top_header .gnb_item{
	color: white;
	font-family: 'NanumSquareRound';
}

.change_header {
	background-color: #fff;
	border-bottom: 1px solid #bfbfbf81;
}

.change_header .logo_text {
	color: black;
	font-family: 'Carter One';
	font-weight:bolder;
}

.change_header .gnb_item {
	color: black;
}

#main_header .gnb_box {
	display: inline-block;
}

#main_header .gnb_item {
	margin-right: 38px;
	font-size: 18px;
}

#introduce_gnb_item1 {
	margin-left: 38px;
}

/* ================ 배너 ================ */
.banner {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	height: 100%;
	color: #fff;
	z-index: 2;
	/* background-color: rgba(0, 0, 255, 0.724); */
}

#banner_box {
	animation: changeBg 15s infinite;
	background-size: cover;
}

@keyframes changeBg{
	0%,100%  {background-image: url("assets/images/hanspoon/mainPage/bg_1.jpg");}
	25% {background-image: url("assets/images/hanspoon/mainPage/bg_2.jpg");}
	50% {background-image: url("assets/images/hanspoon/mainPage/bg_3.jpg");}
	75% {background-image: url("assets/images/hanspoon/mainPage/bg_4.jpg");}
}

.banner .content_box {
	margin: auto 200px;
}

.banner .title_box {
	margin: 120px 150px;
	text-align: center;
	max-width: 100%;
}

.banner .sub_title_box {
	margin: 40px auto;
}

/* .banner .user_name {
	bottom: 20px;
	left: 50px;
	font-size: 13px;
	line-height: 20px;
} */

.grid-container {
	height: 100%;
	width: 100%;
}

.banner .btn_box {
	margin-top: 95px;
	text-align: center;
	font-size: 0;
	animation: .7s fadeVertical 2.4s forwards;
}

.banner .btn_join {
	margin-left:20px;
	margin-bottom: 20px;
	padding: 0 52px;
	height: 64px;
	border-radius: 20px;
	font-size: 22px;
	font-weight: 800;
	color: #000;
	background-color: #ffe818;
	border: 3px solid #333333;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}


/* ================ 소개 ================ */
.introduce {
	background-color: #fff;
	width: 100%;
	min-height: 400px;
}

.introduce .main_title_box {
	background-image: url('assets/images/hanspoon/mainPage/underline.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px 50px;
}

.introduce .info_text {
	margin-top: 30px;
	font-size: 20px;
    line-height: 34px;
}

.introduce .info_link {
	margin-top: 28px;
	font-size: 20px;
    line-height: 34px;
}

.mainModal .tab_box {
	text-align: center;
	font-size: 24px;
	font-weight:bolder;
	margin: 0px 30px;
	padding-bottom: 10px;
}

.mainModal .tab {
	font-family: 'NanumSquareRound';
	border-bottom: 4px solid #DCDDDD;
	cursor: default;
}

.mainModal .tab.active {
	font-family: 'NanumSquareRound';
	border-bottom: 6px solid #217bff ;
	cursor: default;
}

.mainModal .modal_content_box {
	margin: auto;
}

.mainModal .chart_box {
	width: 100%;
	height: 450px;
}

.mainModal .chart_tab {
	padding: auto;
	margin: auto;
}

.mainModal .pieChart {
	width: 300px;
	padding-top: 55px;
}

.mainModal .tab_button {
	
	padding: auto;
	padding-left: 25px;
	font-family: 'NanumSquareRound';
	font-size: 22px;
	cursor: default;
	/* color: #217bff;
	border-radius: 10px;
	font-weight: 800;
	border: 3px solid #217bff; */
	/* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); */
}

.chartList {
	padding-left: 45px;
	margin: 25px;
	font-weight: bold;
	text-align: center;
}

.chartList.active .hightlight2 {
	background-color: #217bff;
	width: 100px;
	padding: 10px 25px;
	border-radius: 5px;
	color: #FFFFFF;
}

.chartList.active .hightlight3 {
	background-color: #217bff;
	width: 100px;
	padding: 10px 15px;
	border-radius: 5px;
	color: #FFFFFF;
}

.chartList.active .hightlight4 {
	background-color: #217bff;
	width: 100px;
	padding: 10px 5px;
	border-radius: 5px;
	color: #FFFFFF;
}


.mainModal .content {
	margin: 20px auto 10px;
	height: 520px;
    width: 700px;
	border-radius: 10px;
	/* border: 2px solid #707070; */
}

.content .chart_title_box {
	text-align: center;
}

.chart_title_box .highlight {
    font-size: 18px;
    width: 0;
    height: 10x;
    background: #d9ecfc;
}

.chart_title_box .chart_title {
	font-size: 35px;
	font-family: 'NanumSquareRound';
	font-weight: bolder;
}

.chart_tab .tab_button {
	margin: auto;
	margin-top: 45px;
}

.chart_tab .chart_box {
	margin: auto;
	padding: auto;
}

.tab_button .rank_icon1 {
	height: 45px;
	background-image: url('assets/images/hanspoon/mainPage/gender.png');
	background-repeat: no-repeat;
	background-size: 45px;
}

.tab_button .rank_icon2 {
	height: 45px;
	background-image: url('assets/images/hanspoon/mainPage/company.png');
	background-repeat: no-repeat;
	background-size: 45px;
}

.tab_button .rank_icon3 {
	height: 45px;
	background-image: url('assets/images/hanspoon/mainPage/age.png');
	background-repeat: no-repeat;
	background-size: 45px;
}

.tab_button .rank_icon4 {
	height: 45px;
	background-image: url('assets/images/hanspoon/mainPage/position.png');
	background-repeat: no-repeat;
	background-size: 45px;
}

/* ================ 모임 생성 방법 ================ */
.create_step {
	background-color: #ffe818;
	width: 100%;
	min-height: 1100px;
}

.create_step .title_box {
	margin-bottom: 30px;
}


.create_step .step_box {
	margin: 20px 20px;
    padding: 46px 30px 50px;
    background-color: #fff;
    border: 4px solid #333333;
	border-radius: 20px;
	min-height: 350px;
}

.create_step .section {
	position: relative;
}

.create_step .step_title {
	display: block;
	margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
    color: #ff5c00;
	font-family: 'NanumSquare_bold';
}

.create_step .step_sub_title {
	font-size: 22px;
	font-family: 'NanumSquareRound';
}

.create_step .info_text {
	margin-top: 15px;
	font-size: 18px;
	font-family: 'NanumSquareRound';
}


.create_step .step_01 .img_box {
	background-image: url('assets/images/hanspoon/mainPage/createStep1.png');
	min-height: 140px;
	width: 300px;
	margin:0px auto;
	background-repeat: no-repeat;
	background-size: contain;
}

.create_step .step_02 .img_box {
	background-image: url('assets/images/hanspoon/mainPage/createStep2.PNG');
	min-height: 100px;
	width: 320px;
	margin:25px auto 30px;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #838383;
}

.create_step .step_03 .img_box {
	background-image: url('assets/images/hanspoon/mainPage/createStep3.PNG');
	min-height: 170px;
	width: 300px;
	margin:20px auto 0px;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #838383;
}

.create_step .step_04 .img_box {
	background-image: url('assets/images/hanspoon/mainPage/createStep4.PNG');
	min-height: 60px;
	width: 350px;
	margin:28px auto 30px;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #838383;
}


/* ================ 모임 참여 방법 ================ */

.apply_step {
	background-color: #23daaf;
	width: 100%;
	min-height: 650px;
}

.apply_step .title_box {
	margin-bottom: 30px;
}

.apply_step .step_box {
	margin: 20px 20px;
    padding: 45px 30px 10px;
    background-color: #fff;
    border: 4px solid #333333;
	border-radius: 20px;
	min-height: 500px;
	font-family: 'NanumSquareRound';
}

.apply_step .step_title {
	display: block;
	margin-bottom: 30px;
    font-size: 28px;
    font-weight: bolder;
    line-height: 36px;
    color: #ff5c00;
	font-family: 'NanumSquare_bold';
}

.apply_step .step_sub_title {
	font-size: 22px;
	margin-bottom: 20px;
}

.apply_step .step_01 .img_box {
	background-image: url('assets/images/hanspoon/mainPage/applyStep1.png');
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 250px;
	width: 350px;
	margin-top: 20px;
}

.apply_step .step_02 .img_box {
	background-image: url('assets/images/hanspoon/mainPage/applyStep2_2.png');
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #838383;
	/* min-height: 100px;
	width: 320px; */
	min-height: 250px;
	width: 220px;
	margin-top: 20px;
	margin-left: 50px;
}


.apply_step .step_03 .img_box {
	background-image: url('assets/images/hanspoon/mainPage/applyStep3.png');
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 100px;
	width: 300px;
	margin-top: 40px;
}

.apply_step .step_03 .info_text {
	margin-top: 30px;
	font-size: 18px;
}


/* ================ 게시글 ================ */
.blogs {
	background-color: #a143e8;
	width: 100%;
	min-height: 1140px;
}

.blogs .title_box {
	margin-bottom: 30px;
}

.blogs .step_box {
	margin: 20px 20px;
    background-color: #fff;
    border: 4px solid #333333;
	border-radius: 20px;
	min-height: 900px;

}

.blogs .blog_list_box {
	padding: 35px;
}

.blogs .btn_more {
	margin-left:10px;
	margin-bottom: 20px;
	padding: 0 52px;
	height: 64px;
	border-radius: 20px;
	font-size: 22px;
	font-weight: 800;
	color: #000;
	background-color: #f0c9ff;
	font-family: 'NanumSquareRound';
	border: 3px solid #333333;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.hoverBlog.active {
	transform: scale(1.05);
	transition:transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
	/* transform: perspective(999px) rotateX(7deg) translate3d(0px, -4px, 5px) */
  }

  #blog {
	border-radius: 20px;
	border: 4px solid #333333;
	border-width: 2px;
	/* min-height: 480px; */
  }

/* ================ Component ================ */

.blog_toggle {
	padding-top: 20px;
	padding-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.selectTab.active {
	background-color: #f0c9ff;
	color: #fff;
	border-radius: 10;
  }

/* ================ 인기순위(x) ================ */
.rank {
	background-color: #a143e8;
	width: 100%;
	min-height: 650px;
}

.rank .title_box {
	margin-bottom: 30px;
}

/* ================ 고정 버튼 ================ */

.static_button {
	position: fixed;
	bottom: 10px;
	right: 20px;
}

.static_button_box {
	margin-bottom: 20px;
	height: 50px;
}

.static_button .static_button_create {
	position: absolute;
	bottom: 20px;
	right: 50px;
	margin-right:3px;
	height: 50px;
	width: 120px;
	line-height: 1;
	border-radius: 27px;
	font-size: 17px;
	font-weight: 800;
	color: #000;
	background-color: #ffe818;
	border: 3px solid #333333;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.static_button .static_button_up {
	border-radius: 25px;
    height: 50px;
    width: 50px;
	background-image: url('assets/images/Icons/upload.png');
	background-size: cover;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

