@charset "UTF-8";
/* 웹폰트 */
@font-face {
	font-family: 'NanumSquare';
	src: url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareR.eot");
	src: url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareR.eot?#iefix") format("embedded-opentype"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareR.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareR.woff2") format("woff2"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareR.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: 'NanumSquare';
	src: url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareB.eot");
	src: url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareB.eot?#iefix") format("embedded-opentype"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareB.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareB.woff2") format("woff2"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareB.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: 'NanumSquare';
	src: url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareLight.eot");
	src: url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareLight.eot?#iefix") format("embedded-opentype"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareLight.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareLight.woff2") format("woff2"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareLight.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: 'NanumSquare_bold';
	src: url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareEB.eot");
	src: url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareEB.eot?#iefix") format("embedded-opentype"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareEB.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareEB.woff2") format("woff2"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumSquare/NanumSquareEB.ttf") format("truetype");
	font-weight: 900;
}

/* 웹폰트 */
/* @font-face {
	font-family: 'NanumMyeongjo';
	src: url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumMyeongjo/NanumMyeongjo.eot");
	src: url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumMyeongjo/NanumMyeongjo.eot?#iefix") format("embedded-opentype"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumMyeongjo/NanumMyeongjo.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumMyeongjo/NanumMyeongjo.woff2") format("woff2"), url("https://campaign-cdn.pstatic.net/0/campaign/2022/05/weeklydiary/font/NanumMyeongjo/NanumMyeongjo.ttf") format("truetype");
} */

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 추가 */

/* .btn {
  background-color: #fff;
  border: 1px solid #dbdee2;
  color: #404a5c;
 
} */

.selectBtn{
  background-color:#7b809a; 
  color: white;
  margin-right : 10px;
  /* width: 100px; */
  /* border: 1px solid #a9a6a6; */
  
  display: inline-block;
  /* outline: none; */
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  /* transition-property: background-color,border-color,color,box-shadow,filter; */
  transition-duration: .3s;
  letter-spacing: 2px;
  min-width: 150px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding:  14px 18px;
  border : 0;
  outline: 0;
  box-shadow: 3px;

}

.selectBtn.active {
  background-color: #1A73E8;
  color: #fff;
}

.hoverBlog.active {
  transform: scale(1.05);
  /* transform: perspective(999px) rotateX(7deg) translate3d(0px, -4px, 5px) */
}
.blog {
  border-radius: 20px;
  border: 4px solid #000;
  border-width: 2px;
  /* min-height: 480px; */
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
